* {margin: 0; padding: 0; }
body {font-family: Arial, Helvetica, Sans-serif; min-width: max-content;}
header {display: block;  background-color: #004064; padding: 20px; border-bottom: 5px solid #757575;}
h3 {font-weight: normal; padding: 1.5em; color: white; text-shadow: 1px 1px 0px #444; max-width: 1000px; margin: auto; text-align: center;}

nav {background-color: #256aa0;}

nav a {color: white; text-decoration: none;}
nav a:hover {color: #ddd;}
nav ul {display: table; width: 1000px; margin: auto;}
nav li {display: table-cell; text-align: center; padding: 1em;}

main {overflow: auto; min-height: 30vh; background-color: #f7f7f7; width: 1000px; margin: auto; box-shadow: -1000px 0 0 #f7f7f7, 1000px 0 0 #f7f7f7; padding-top: 20px;}

footer {padding: 1em; background-color: #00121c ; font-size: 0.8em;}

p {margin-bottom: 1em;}

body {font-size: 1.2em; font-family: arial, helvetica, sans-serif}
input, label, select, textarea {float: left; width: 15em; margin-bottom: 1em;  padding: 0.5em;}
label {clear: left; padding: 0; margin: 0;}
input[type="submit"] {margin-left: 15em; width: auto; padding: 0.5em 1em; clear: both; font-size: 1em;}
form {overflow: auto; clear: both; display: block;}

blockquote {display: table; margin-bottom: 1em; border-bottom: 1px solid #ccc; padding: 0.5em; }
blockquote p {display: table-cell; width: 90%; vertical-align: top;}
blockquote form {  display: table-cell; width: 10%;}
.errors {
    padding: 1em;
    border: 1px solid red;
    background-color: lightyellow;
    color: red;
    margin-bottom: 1em;
    overflow: auto;
}
.errors ul {
    margin-left: 1em;
}
form p {clear: both;}
input[type="checkbox"] {float: left; clear: left; width: auto; margin-right: 10px;}
input[type="checkbox"] + label {clear: right;}
.currentpage:before {
    content: "[";
}
.currentpage:after {
    content: "]";
}

header{
    display:flex;
    flex-wrap: wrap;
}

header img{
    width: 92px;
    height: 92px;
}

header div, footer #main_footer{
    font-weight: normal; padding: 1.5em; color: white; text-shadow: 1px 1px 0px #444; max-width: 100%; margin: auto; text-align: center;
}

footer #main_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer #main_footer #images{
    display: flex;
    flex-wrap: wrap;
    width: 15%;
    justify-content: space-around;
}

footer img{
    width: 62px;
    height: 62px;
}

footer a {color: white; text-decoration: none; text-align: left; margin-top: 7px;}
footer a:hover {color: #ddd;}

footer #main_footer #main, footer #main_footer #to, footer #main_footer #contr{
    display: flex;
    flex-direction: column;
}

footer #main_footer .title{
    margin-top: 15px;
    text-transform: uppercase;
}

footer #main_footer #contr{
    padding-top: 15px;
}

footer #main_footer #contr div{
    text-align: left;
    margin-bottom: 25px;
}

/*home*/

*{
    box-sizing: border-box;
}
#cont{
    display: flex;
    /*flex-direction: column;*/
    max-width: 100%;
    /*height: 900px;*/                      
    /* border: 1px solid green; */
    align-items: center;
    justify-content: center;
}
#input_div{
    display: flex;
    flex-wrap: wrap;
}
#output_div{
    /*border: 1px solid #000000;*/
    width: 640px;
    height: 360px;
    box-shadow: 0 0 2px 3px #0000004f;
}
#prev:hover, #next:hover{
    /*background-color: rgba(214, 212, 206, 0.8);*/
    /*border-radius: 3px;*/
}
#video_name{
    text-align: center;
}
#output_div, #description{
    
}
#description{
    /*width: 1000px;*/
    min-height:150px;
    padding: 10px;
    border: 3px solid #0000004f;
    border-style: outset;
}
#description h2{
    text-align: center;
}
#description p{
    text-align: left;
}